
:root{
    --cor-de-fundo: #e90b94;
    --branco: #FFFFFF;
    --azul: #42d6e0;
    --botao-ativo: #2bbcff;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58,55,94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/